<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTarget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Veracross.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A67354F1DA45C2200F5D3F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8C5F2B1DA9F54800D072EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8C5F3E1DA9F54800D072EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8C5F491DA9F54800D072EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
